<div class="mt-5 w-full px-6 sm:px-12 lg:px-[120px] xl:px-[140px] mx-auto">
  <header class="section-title">
    <h1>Nos appartements</h1>
    <p>Des espaces pensés pour vivre pleinement</p>
  </header>
  <div>
    <%= link_to new_flat_path, class: "mt-5 inline-block bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-xl shadow transition duration-150" do %>
      <i class="fas fa-undo-alt"> Ajouter un nouveau</i>
    <% end %>
  </div>
  <div class="card-grid mt-5">
    <% @flats.each do |flat| %>
      <a href="appartements/<%= flat.id %>">
        <div class="card-flat">
          <figure>
            <img src="https://plus.unsplash.com/premium_photo-1674676471417-07f613528a94?q=80&w=1445&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </figure>
          <div class="card-flat-body">
            <p class="card-text"><%= flat.address %></p>
            <h2 class="card-title"><%= flat.name %></h2>
            <p class="card-text"><%= flat.rooms %> chambres</p>
            <p class="card-text"><%= flat.surface %> m²</p>
            <p class="card-text"><%= flat.subway %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>